<template>
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <div class="box">
                <div>
                    <p>
                        <label>Archived Tasks: <b>{{tasks.length}}</b></label>
                    </p>
                </div>
                <table class="table is-hoverable is-fullwidth is-striped" v-if="tasks.length">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Completion date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(task, index) in tasks">
                            <td>{{ index + 1 }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.deleted_at }}</td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                task: {
                    title: '',
                    description: ''
                },
                tasks: [],
                update_task: {}
            }
        },

        mounted() {
            this.readTasks();
        },

        methods: {
            readTasks() {
                axios.get('/archive')
                    .then(response => {
                        this.tasks = response.data.tasks;
                        //console.log(response.data.tasks);
                    });
            },
        }

    }
</script>

