
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Bulma
@import "node_modules/bulma/bulma";

// Font Awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

html,
body {
    height: 100%;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.box {
    margin-top: 60px;
    background-color: rgba(255,255,255, 0.98);
}

.box a {
    margin-bottom: 10px;
    margin-right: 10px;
}

.box table {
    border: 1px solid #f4f4f4;
}

.box label {
    font-size: 1.25em;
    margin-left: 10px;
}

.login {
    margin-top: 20%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login .panel-heading {
    padding-left: 30px;
}

.login .panel-block {
    border: 0;
    padding: 30px;
    display: block;
}

.login .panel-block .control {
    margin: 20px 0;
}

.login .panel-block button {
    margin: 20px 0;
    width: 100%;
}

p,
table {
    color: #4a4a4a !important;
}

table td:nth-child(1) {
    width: 5%;
    text-align:center;
}

table td:nth-child(2) {
    width: 20%;
}

table td:nth-child(4) {
    width: 20%;
    text-align:center;
}

.error-block {
    color: #ff3860;
}




